* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container div {
  background: green;
  border: 1px solid black;
  font-size: 50px;
  flex-basis: 200px;
}
.first {
  flex-grow: 2;
}

#content {
  display: flex;

  justify-content: space-around;
  flex-flow: row wrap;

  align-items: stretch;
}

.small {
  flex-grow: 1;
  border: 3px solid rgba(0, 0, 0, 0.2);
}

.double {
  flex-grow: 3;
  border: 3px solid rgba(0, 0, 0, 0.2);
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4fr 1fr;
  height: 100vh;
}
*/
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header sidebar"
    "main main . sidebar"
    "footer footer footer footer";
}

.item-a {
  grid-area: header;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
}
